
body {
    font-family: sans-serif;
}

div.hapiHeaderText {
    font-size: 1.3em;
}

/********************************************************
* The following section is used for tables of values
* with multiple columns (e.g. the table of Observations
* in a Diagnostic Report for a lab test)
********************************************************/
table.hapiTableOfValues {
    width: 800px;
    margin-top: 24px;
}

table.hapiTableOfValues thead tr td {
    background: #A0A0F0;
    color: #000080;
    font-size: 1.2em;
    font-weight: bold;
    padding: 5px;
}

table.hapiTableOfValues tbody tr td {
    padding-left: 5px;
    padding-right: 5px;
}

/* Even and odd row formatting */
tr.hapiTableOfValuesRowOdd td {
    background: rgba(192, 192, 192, 0.2);
}

tr.hapiTableOfValuesRowEven td {
    background: rgba(240, 240, 240, 0.2);
}

/********************************************************
* The following section is used for property tables. These
* tables have two columns, one for the property name, and
* one for the property value
********************************************************/
table.hapiPropertyTable {
    width: 800px;
    margin-top: 24px;
}

table.hapiPropertyTable thead tr td {
    background: #C0C0C0;
    padding-top: 1em;
}

table.hapiPropertyTable tbody tr td:first-child {
    text-align: right;
    background: #C0C0C0;
    border-top: 1px solid #EEE;
}

table.hapiPropertyTable tbody tr td {
    vertical-align: top;
    padding: 4px;
    margin: 1px;
}
