<!--/*-->
<html>
<head>
    <link rel="stylesheet" type="text/css" href="narrative.css"/>
</head>
<body>
<!--*/-->
<th:block th:fragment="medication (medication)">
    <div></div>
    <thead><tr>
    <td class="toggable" colspan="2" onclick="this.classList.toggle('displayed'); this.parentElement.parentElement.nextElementSibling.classList.toggle('hidden')">
        <div>
            <div>Vaccine</div>
            <div>
                    <span class="clicktoshow">click to show</span><span class="clicktohide">click to hide</span>
            </div>
        </div>
    </td>
    </tr></thead>

    <tbody class="hidden">

   <tr th:if="${medication.hasID}">
        <td>Id</td>
        <td>
            <th:block th:text="${medication.Id}"/>
        </td>
    </tr>

    <tr th:if="${medication.hasIdentifier}"  th:each="identifier : ${medication.identifier}">
        <td>Identifier</td>
        <td>
            <th:block th:if="${identifier.hasUse}" th:text="${identifier.use.display}"/>
            <th:block th:if="${identifier.hasValue}" th:text="${identifier.value}"/>
            <th:block th:if="${identifier.hasSystem}" th:text="${identifier.system}"/>
        </td>
    </tr>

    <tr th:if="${medication.hasCode}">
        <td>Code</td>
        <td>
            <th:block th:if="${medication.code.hasCoding}">
                <th:block th:if="${medication.code.codingFirstRep.hasDisplay}" th:text="${medication.code.codingFirstRep.display}"/>
                <th:block th:if="${not medication.code.codingFirstRep.hasDisplay} and ${medication.code.hasText}" th:text="${medication.code.text}"/>
                <th:block th:if="${not medication.code.codingFirstRep.hasDisplay} and ${not medication.code.hasText} and ${medication.code.codingFirstRep.hasCode}" th:text="${medication.code.codingFirstRep.code}"/>
            </th:block>
        </td>
    </tr>

    <th:block th:if="${medication.hasBatch}">
        <tr th:if="${medication.batch.hasLotNumber}">
            <td>Lot Number</td>
            <td>
                <th:block th:text="${medication.batch.lotNumber}"/>
            </td>
        </tr>

        <tr th:if="${medication.batch.hasExpirationDate}">
            <td>Expiration date</td>
            <td>
                <th:block th:text="${#dates.format(medication.batch.expirationDate,'dd MMMM yyyy HH:mm:ss')}"/>
            </td>
        </tr>
    </th:block>

    </tbody>
</th:block>
<!--/*-->
</body>
</html>
<!--*/-->
