<!--/*-->
<html xmlns:th="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" type="text/css" href="narrative.css"/>
</head>
<body>
<!--*/-->
<th:block th:fragment="inlinecoderows (code, title)">
    <tr th:if="${code.hasText} and ${not code.hasCoding}">
        <td th:text="${title}">Code</td>
        <td th:text="${code.text}"></td>
    </tr>
    <tr th:if="${code.hasCoding}">
        <td th:text="${title}">Code</td>
        <td  th:each="coding : ${code.coding}">
            <th:block th:include="@{inlinecode} :: inlinecoding (coding=${coding}, text=${code.text})"/>
        </td>
    </tr>
</th:block>

<th:block th:fragment="inlinecoderowshidden (code, id, title)">
    <tr th:class="'hidden '+${id}"  th:if="${code.hasText} and ${not code.hasCoding}">
        <td th:text="${title}">Code</td>
        <td th:text="${code.text}"></td>
    </tr>
    <tr th:class="'hidden '+${id}"  th:if="${code.hasCoding}">
        <td th:text="${title}">Code</td>
        <td  th:each="coding : ${code.coding}">
            <th:block th:include="@{inlinecode} :: inlinecoding (coding=${coding}, text=${code.text})"/>
        </td>
    </tr>
</th:block>

<th:block th:fragment="inlinecoding (coding, text)">
    <th:block th:if="${not coding.hasDisplay} and ${not #strings.isEmpty(text)}" th:text="${text}"/>
    <th:block th:if="${coding.hasDisplay}" th:text="${coding.display}"/>
    <th:block th:if="${coding.hasCode}" th:text="'('+ ${coding.code} + ')'"/>
    <th:block th:if="${coding.hasSystem}" th:text="'(' + ${coding.system} + ')'"/>
</th:block>
<!--/*-->
</body>
</html>
<!--*/-->