<!--/*-->
<html xmlns:th="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" type="text/css" href="narrative.css"/>
</head>
<body>
<!--*/-->
<th:block th:fragment="inlinecode (code)">
    <th:block th:if="${code.hasTextElement}"
              th:text="${code.textElement.value}"/>
    <th:block
            th:if="${not code.hasTextElement} and ${code.hasCoding} and ${code.coding[0].hasDisplay}"
            th:text="${code.coding[0].display}"/>
    <th:block
            th:if="${not code.hasTextElement} and ${code.hasCoding} and ${not code.coding[0].hasDisplayElement}"
            th:text="'?'"/>
    <th:block th:if="${code.hasCoding} and ${code.coding[0].hasSystemElement}"
              th:text="' (' + ${code.coding[0].system} + ')'"> (no system?)
    </th:block>
    <th:block th:if="${code.hasCoding} and ${code.coding[0].hasCodeElement}"
              th:text=" '(' + ${code.coding[0].code} + ')'"> (no code?)
    </th:block>
</th:block>
<!--/*-->
</body>
</html>
<!--*/-->